/* style for roadmap page */

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#menu {
  display: none;
}

/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 260px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgb(14, 57, 30);
    /* blue variant */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav h3 {
    text-align: left;
    margin-left: 15px;
    color: rgb(218, 236, 211);
    text-decoration: underline;
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    line-height: 25px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    font-weight: bold;
}

/* Style page content */

.main {
    margin-left: 260px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.main h1 {
    color: whitesmoke;
    background-color: rgb(14, 57, 30);
}

.main h3 {
    text-decoration: underline;
}

.main div {
    float: right;
}

.divider {
    margin-top: 25px;
    width: 100%;
    height: 36.9px;
    background-color: rgb(14, 57, 30);
}

/* animated collapsible navbar */

.collapsible {
    background-color: rgb(14, 57, 30);
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgb(14, 57, 30);
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.email p {
    font-size: 18px;
}

footer {
    margin-left: 270px;
}

/* On landscape tablets ------------------------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) and (orientation: landscape) {
  #menu {
    display: none;
  }
}



/* Smartphones (portrait) ----------------------- */
@media only screen and (max-device-width: 767px) and (orientation: portrait) {

/* turn off sidenav ------------------ */
main .sidenav {
  display: none;
  }
.sidenav div img {
  display: none;
  }
/* end of turn off sidenav ------------------ */



/* top navbar ---------------------------- */
#menu {
    display: inline-block;
    position: relative;
    z-index: 1;
    align-items: center;
    text-align: center;
    width: 100%
  }

  #menu h3 {
      text-align: center;
      color: rgb(218, 236, 211);
      text-decoration: underline;
  }

  #menu a {
      padding: 10px 8px 10px 10px;
      line-height: 25px;
      text-decoration: none;
      font-size: 14px;
      color: white;
      display: block;
      font-weight: bold;
  }
.collapsible {
    background-color: rgb(14, 57, 30);
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgb(14, 57, 30);
    color: white;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* end of top navbar ---------------------------- */
}
