* {
    font-size: 24px;
}

.video1 {
    height: 400px;
    width: 400px;
    border: 10px;
    border-color: cornflowerblue;
}

nav ul {
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}